extends layout

block content
  //ng-init -> sayfa ilk yüklendiğinde çalışacak şeyi belirttiğimiz alan
  //indexController çalışmaya başladığında direkt olarak indexController içindeki init() fonksiyonu çalışacak
  //indexController içinde $scope.init olarak tanımlandı.
  div(ng-controller="indexController", ng-init="init()")
    .ui.one.column.stackable.center.aligned.page.grid.margin-30
        .column.twelve.wide
          .ui.stacked.segment.gameArea(ng-click="onClickPlayer($event)")
            .circle(ng-repeat="player in players", ng-style="{'left': player.position.x+'px', 'top': player.position.y+'px'}", id="{{player.id}}", class="{{player.color}}")
              .relative
                span.name {{player.username}}
                .message 


          .ui.items.chat#chat-area
            //messages indexController'da tanımladığımız $scope.messages'tan geliyor.
            .item(ng-repeat="message in messages")
              //message.type = 0 ise demek
              .content(ng-if="!message.type.code")
                span [SERVER] :   
                a.header.name {{message.username}} &nbsp;
                .description.message(ng-if="message.type.message")
                  | has joined!
                .description.message(ng-if="!message.type.message")
                  | has left!

              .content(ng-if="message.type.code")
                a.header.name {{message.username}} : &nbsp;
                .description.message
                  | {{message.text}}
            
          form.ui.action.input.fluid(ng-submit="newMessage()")
            input(ng-model="message",type='text', placeholder='Type here...')
            button.ui.button(type="submit") Send