extends layout

block content
  //ng-init -> sayfa ilk yüklendiğinde çalışacak şeyi belirttiğimiz alan
  //indexController çalışmaya başladığında direkt olarak indexController içindeki init() fonksiyonu çalışacak
  //indexController içinde $scope.init olarak tanımlandı.
  div(ng-controller="indexController", ng-init="init()")
    .ui.one.column.stackable.center.aligned.page.grid.margin-30
        .column.twelve.wide
          .ui.stacked.segment.gameArea
            .circle.blue(style='left:150px; top:100px')
              .relative
                span.name Mehmet
                .message Selam
            .circle.green(style='left:300px; top:100px')
              .relative
                span.name Alp
                .message selam nasılsın :)
            .circle.red(style='left:350px; top:300px')
              .relative
                span.name Joe
                .message this is awesome
          .ui.items.chat
            //messages indexController'da tanımladığımız $scope.messages'tan geliyor.
            .item(ng-repeat="message in messages")
              //message.type = 0 ise demek
              .content(ng-if="!message.type")
                span [SERVER] :   
                a.header.name {{message.username}} &nbsp;
                .description.message
                  | has joined!
          .ui.action.input.fluid
            input(type='text', placeholder='Type here...')
            button.ui.button Send